* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* COMMON */
body {
    font-family: "Montserrat", serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

.main-container {
    height: calc(100vh - 85px);
    display: flex;
}

/* STILE PER COLONNA PULSANTI PER L'UTENTE + LOGO */
.col-user {
    background-color: #000000;
    padding-left: 15px;
    flex: 1;
}

.user-menu {
    margin-top:30px ;
}

.user-menu ul {
    display: flex;
    flex-direction: column;
    padding-left:15px ;
}

.user-menu ul li {
    padding-bottom: 10px;
}

.user-menu ul li a {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.user-menu ul li a img {
    width: 30px;
    height: 30px;
}

.user-playlist {
    margin-top:30px;
    padding-left:15px ;
}

.user-playlist h4 {
    text-transform: uppercase;
    font-weight: 800;
}

.user-playlist ul {
    padding-top: 10px;
}

.user-playlist ul li {
    padding-top: 15px;
}

.user-playlist ul li a {
    text-transform: capitalize;
}

#logo img {
    padding:12px 35px 12px 0px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 100%;
}


.download {
    background-color: red;
}

.user-info {
    background-color: blue;
}




.col-content{
    background-color: #131923;
    flex: 7;
}

.footer-menu {
    height: 85px;
    background-color: #282828;
}

.header {
    background-color: #0e131c;
    min-height: 90px;
}